h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem
}

h1,
h2 {
  line-height: 1.5rem;
  text-decoration: none;
  color: var(--chart-2);
  transition: 0.4s;
}

html{
  overflow-y: hidden;
}

@media (min-width: 640px) {
  :root {
    font-size: 1.2em;
  }
}